# commit notes / template
.commit_notes

# LaTeX intermediate and binary files
*.aux
*.run.xml
*fdb_latexmk
*.fls
# https://tex.stackexchange.com/a/561192
*.synctex.gz
*.xmpdata
pdfa.xmpi
*.toc
creationdate.lua
# bibliography intermediate files
*.bbl
*.bcf
*.blg
*-blx.bib

*.pdf
# log files
*.log

*.zip
